body {
    background: black;
}

.clock {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(204, 0, 0);
    font-size: 110px;
    font-family:serif;
    letter-spacing: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 0, 204);
    border-radius: 50px;

}